/*
 * CSS local to this presentation
 */
p {
   font-size: 0.75em;
}
ul {
   font-size: 0.75em;
}
dl {
   display: block;
   float: left;
   width: 100%;
}
p.breadcrumb {
   color: #666;
   background: transparent;
   font-size: 0.5em;
   float: left;
   clear: both;
}
p.note {
   font-size: 0.5em;
}
div.rblock {
   float: right;
   display: block;
   width: 40%;
   font-size: 0.7em;
}
div.lblock {
   float: left;
   display: block;
   width: 50%;
   font-size: 0.75em;
}
